.footer {
  background-color: #222;
  color: #eee;
  padding: 40px 20px;
  margin-top: 40px;
}

.footer-container {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.footer-section {
  flex: 1 1 300px;
}

.footer-logo {
  color: #49557e;
  margin-bottom: 10px;
  font-size: 20px;
}

.footer-desc {
  font-size: 14px;
  line-height: 1.6;
  color: #ccc;
}

.footer-section h3 {
  margin-bottom: 10px;
  color: #fff;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 6px;
}

.footer-section a {
  color: #ccc;
  text-decoration: none;
  transition: 0.3s;
}

.footer-section a:hover {
  color: tomato;
}

.footer p {
  font-size: 14px;
  color: #bbb;
  margin: 4px 0;
  line-height: 1.5;
}


@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
  }

  .footer-section {
    flex: 1 1 100%;
  }
}
