.register-page {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
  background: #f7f7f7;
}

.register-card {
  width: 100%;
  max-width: 400px;
  background: rgb(232, 225, 225);
  padding: 28px;
  border-radius: 12px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.08);
  color: #222;
}

.register-card h2 {
  text-align: center;
  margin-bottom: 16px;
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.role-selection {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-bottom: 10px;
  font-weight: 500;
}

.role-selection input[type='radio'] {
  margin-right: 6px;
  transform: scale(1.1);
}

.register-form label {
  font-weight: 500;
  display: flex;
  flex-direction: column;
}

.register-form input {
  width: 100%;
  padding: 10px 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
  outline: none;
  transition: border-color 0.2s;
  box-sizing: border-box;
}

.register-form input:focus {
  border-color: tomato;
}

.register-card button {
  margin-top: 10px;
  background: tomato;
  color: #fff;
  border: none;
  padding: 10px 14px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  transition: background 0.3s;
  width: 100%;
}

.register-card button:hover {
  background: #e14b2e;
}
